<!DOCTYPE html>
<html lang="ru">

<head>
    <!-- TITLE -->
    <title>{% block title %}Default page title{% endblock %}</title>

    <!-- FAVICON -->
    <link rel="icon" type="image/x-icon" href="/public/favicon.ico">

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="/public/assets/css/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    <!-- JS -->
    <script src="/public/assets/js/script.js"></script>
</head>

<body>
    {% block header %}{% include 'blocks/header.html' %}{% endblock %}

    <main>
        {% block content %}

        {% endblock %}
    </main>

    {% block footer %}{% include 'blocks/footer.html' %}{% endblock %}
</body>

</html>